* {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}


html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}


.site-footer {
  grid-row: 6/7;
  background-color: skyblue;
}



@media only screen and (max-width: 2560px) and (min-width: 1440px) {

  
  .wrapper {
    display: grid;
    grid-template-rows: repeat(5, auto);
  }

  .wrap-1 {
    height: 100vh;
    max-width: 100%;
    background-image: url("images/praise-bg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 15% 85%;
  }

  .main-header, .verse-wrap{
    padding: 0 7%;
  }

  .main-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .site-logo {
    display: grid;
  }

  

  .site-icon {
    width: 12em;
    height: auto;
    justify-self: left;
    align-self: center;
  }

  .menu-bar {
    display: none;
  }

  .fa-bars {
    color: #fff;
    font-size: 1.2em;
    justify-self: right;
    align-self: center;
  }
  



  .main-nav {
    color: #fff;
    display: grid;
  }

  .nav-list {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }


  .nav-item {
    list-style: none;
    justify-self: center;
    font-weight: 900;
  }


  a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
  }



  .close-btn {
    display: none;
    font-size: 2em;
    justify-self: right;
    align-self: start;
    padding: 5% 8% 0 0;
  }








  .verse-wrap {
    color: #fdd000;
    display: grid;
    grid-template-columns: 35% auto 35%;
    background-color: rgba(1,1,1, 0.1);
  }

  .main-verse {
    align-self: center;
    justify-self: center;
    font-size: 2em;
    font-weight: 900;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 0.8em;
    font-family: "Poppins";
  }

  .quote {
    font-size: 1em;
  }


  .verse-ref {
    font-weight: 900;
    font-size: 0.7em;
    justify-self: right;
  }
  







  .section-header {
    display: grid;
  }


  .section-heading {
    font-size: 3em;
    color: #2C3539;
    justify-self: center;
    align-self: center;
  }










  .wrap-2{
    display: grid;
    grid-template-rows: 150px auto auto;
  }




  .work-description {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1em;
  }


  .pj-1, .pj-4, .pj-5, .pj-8, .pj-9 {
    background-color: #00243f;
    border: 1px solid #00243f;
    color: #b0cac7;
  }


  .pj-2, .pj-3, .pj-6, .pj-7, .pj-10 {
    background-color: #b0cac7;
    border: 1px solid #b0cac7;
    color: #00243f;
  }

  /* .project:nth-child(odd) {
    margin-right: 10%;
  }

  .project:nth-child(even) {
    margin-left: 10%;
  } */


  .project {
    display: grid;
    grid-template-rows: 3em auto 3em;
    border-radius: 10px;
    padding: 2% 2%;
    /* margin-top: 15%; */
    height: 9em;   
  }

  .project-head {
    display: grid;
  }



  .project-header {
    display: grid;
  }

  .project-heading {
    font-size: 1em;
    align-self: center;
  }

  .project-description-section {
    height: 3.5em;
    overflow-y: hidden;
  }

  .project-description {
    font-size: 0.8em;
    line-height: 1.4em;
    padding: 2% 0 1.2em 0;
  }

  .button-container {
    display: grid;
  }

 

  .read-more {
    width: 8em;
    height: 2.8em;
    font-size: 0.6em;
    font-weight: 900;
    background-color: hsl(25, 57%, 68%);
    color: #00243f;
    border: 1px solid #dca780;
    border-radius: 2px;
    letter-spacing: 1px;
    align-self: center;
  }

  .read-more:hover {
    cursor: pointer;
  }





































  /* GALLERY SECTION */





  .section-heading {
    font-size: 3em;
    color: #2C3539;
    justify-self: center;
    align-self: center;
  }


  .gallery-description {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1em;
  }














  /* GALLERY MODAL */

.modal-container {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1.00);
  display: grid;
  display: none;
}


.modal-wrapper {
  /* width: 90vw;
  height: 90vh; */

  width: 100%;
  height: 100vh;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
  display: grid;
}


img {
  width: auto;
  height: 100%;
  border-radius: 2px;
  justify-self: center;
  align-self: center;
}







.btn {
  color: #fff;
  font-size: 20px;
}


.image-description {
  font-size: 13px;
  color: #fff;
}


.fa-ellipsis-v, .fa-times-circle, .fa-chevron-left, .fa-chevron-right:hover {
  cursor: pointer;
}



.fa-ellipsis-v {
  position: absolute;
  top: 20px;
  left: 20px;
}

.fa-times-circle {
  position: absolute;
  top: 20px;
  right: 20px;
}



.fa-chevron-left {
  position: absolute;
  top: 50%;
  left: 20px;
}



.fa-chevron-right {
  position: absolute;
  top: 50%;
  right: 20px;
}


.caption-view {
  position: absolute;
  bottom: 22%;
  left: 10%;
  right: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 80%;
  border-radius: 2px;
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
}









/* GALLERY */








.wrap-3 {
  /* width: 100vw; */
  display: grid;
  grid-template-rows: 150px auto auto;
  margin: 0 2%;
}


.grid-header {
  display: grid;
}



i.fa-caret-down, i.fa-caret-right {
  font-size: 0.9em;
}

i.fa-caret-down {
  display: none;
}





.album-viewport {
  display: grid;
  grid-template-columns: repeat(4, auto);
}


.album-holder {
  display: grid;
  grid-template-columns: 5% 95%;
  margin: 5% 0;
}


.album-holder:hover {
  cursor: pointer;
}




.symbols {
  justify-self: center;
  align-self: center;
}


.gallery-header {
  display: grid;
}



.album-gallery {
  display: none;
}



.album-name {
  font-size: 0.9em;
  font-weight: 900;
  justify-self: left;
  align-self: center;
}


.col {
  justify-self: center;
  /* background-color: darkgrey; */
  /* border: 1px solid red; */
  display: grid;
  width: 260px;
  height: 140px;
  margin: 2% 2%;
  overflow-y: hidden;
  border-radius: 2px;
}


.col:hover {
  cursor: pointer;
}









.img-1, .img-2 , .img-3, .img-4 {

  width: 100%;
  height: auto;
  justify-self: center;
  align-self: center;

}











  












  /* ABOUT SECTION */


  .wrap-4 {
    display: grid;
    grid-template-rows: 150px auto;
  }



  .founders-section {
    display: grid;
    grid-template-rows: 50px auto;
  }

  .founders-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 2%;
    margin-bottom: 8%;
  }
  

  



  .founder-info {
    display: grid;
    grid-template-rows: 200px 45px auto 50px;
    border-radius: 10px;
    padding: 2% 2%;
    margin-bottom: 10%;
    background-color: #dca780;
    border: 1px solid #dca780;
    color: #00243f;
    height: 21em;
  }


  .founder-1 {
    margin-right: 5%;
  }

  .founder-2 {
    margin-left: 5%;
  }



  .founder-img {
    display: grid;
  }


  .f-1-img, .f-2-img {
    width: 200px;
    height: auto;
    justify-self: center;
  }

  .founder-name-section {
    display: grid;
  }

  .founder-name {
    font-size: 1em;
    font-weight: bold;
    align-self: center;
    justify-self: center;
  }


  .founder-description-section {
    height: 4em;
    overflow-y: hidden
  }

  .founder-description {
    font-size: 0.8em;
    line-height: 1.3em;
    padding: 2% 0 2% 0;
    height: 3em;
    overflow-y: hidden;
    justify-self: center;
  }

  .read-more-about {
    width: 8em;
    height: 2.8em;
    font-size: 0.6em;
    font-weight: 900;
    background-color: #00243f;
    border: 1px solid #00243f;
    color: #dca780;
    border-radius: 2px;
    letter-spacing: 1px;
    align-self: center;
  }

  .read-more-about:hover {
    cursor: pointer;
  }













/* ABOUT MINISTRY */

.ministry-info-section {
  display: grid;
  grid-template-rows: 50px auto;
}


.ministry-description {
  display: grid;
}

.query {
  font-size: 0.9em;
  font-weight: 600;
  color: #34414e;
}


.answer{
  font-size: 0.9em;
  line-height: 1.5em;
  margin-bottom: 4%;
  color: #34414e;
}











  /* ABOUT PAKISTAN */



  .country-info-section {
    display: grid;
    grid-template-rows: 50px auto auto;
  }


  .country-description {
    font-size: 0.9em;
    line-height: 1.5em;
    color: #34414e;
  }

  .pk-flag {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .country-para {
    margin: 5% 0;
  }



  /* CONTACT SECTION */



  .wrap-5 {
    display: grid;
    grid-template-rows: 150px 120px auto;
    border-bottom: none;
  }


  .founder-title, .ministry-title, .country-title {
    color: #34414e;
    font-size: 1em;
    align-self: end;
    margin-bottom: 1em;
  }

  .contact-description, .for-email {
    font-size: 1em;
    color: #34414e;
  }


  .email-container {
    padding-top: 0.5em;
  }

  .for-email {
    font-weight: 900;
  }


  .social-links-section {
    display: grid;
    grid-template-rows: 50px 50px;
  }


  .social-links-heading {
    font-size: 1em;
    color: #34414e;
    font-weight: 700;
    align-self: center;
  }

  .fab {
    justify-self: center;
    align-self: center;
    font-size: 1.5em;
    color: #003152;
  }



  .social-links {
    display: grid;
    grid-template-columns: repeat(3, 50px);
  }

  .social-links li {
    list-style: none;
  }


 
















  /* FOOTER SECTION */




  .site-footer {
    background-color: #2C3539;
    padding: 1em 0;
    display: grid;
  }

  .footer-description {
    font-size: 0.8em;
    color: lightgray;
    justify-self: center;
    align-self: center;
  }
  








  .wrap-2, .wrap-3 , .wrap-4, .wrap-5 {
    margin: 0 10%;
    border-bottom: 1px solid #636c77;
    padding-bottom: 5%;
  }


  .wrap-5 {
    border-bottom: none;
    padding-bottom: 25%;
  }



}



@media only screen and (max-width: 1440px) and (min-width: 768px) {

  
  .wrapper {
    display: grid;
    grid-template-rows: repeat(5, auto);
  }

  .wrap-1 {
    height: 100vh;
    max-width: 100%;
    background-image: url("images/praise-bg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 15% 85%;
  }

  .main-header, .verse-wrap{
    padding: 0 7%;
  }

  .main-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .site-logo {
    display: grid;
  }

  

  .site-icon {
    width: 12em;
    height: auto;
    justify-self: left;
    align-self: center;
  }

  .menu-bar {
    display: none;
  }

  .fa-bars {
    color: #fff;
    font-size: 1.2em;
    justify-self: right;
    align-self: center;
  }
  



  .main-nav {
    color: #fff;
    display: grid;
  }

  .nav-list {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }


  .nav-item {
    list-style: none;
    justify-self: center;
    font-weight: 900;
  }


  a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
  }



  .close-btn {
    display: none;
    font-size: 2em;
    justify-self: right;
    align-self: start;
    padding: 5% 8% 0 0;
  }








  .verse-wrap {
    color: #fdd000;
    display: grid;
    grid-template-columns: 35% auto 35%;
    background-color: rgba(1,1,1, 0.1);
  }

  .main-verse {
    align-self: center;
    justify-self: center;
    font-size: 2em;
    font-weight: 900;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 0.8em;
    font-family: "Poppins";
  }

  .quote {
    font-size: 1em;
  }


  .verse-ref {
    font-weight: 900;
    font-size: 0.7em;
    justify-self: right;
  }
  







  .section-header {
    display: grid;
  }


  .section-heading {
    font-size: 3em;
    color: #2C3539;
    justify-self: center;
    align-self: center;
  }










  .wrap-2{
    display: grid;
    grid-template-rows: 150px auto auto;
  }



  .work-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2%;
    grid-row-gap: 5%;
  }


  .work-description {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1em;
  }


  .pj-1, .pj-4, .pj-5, .pj-8, .pj-9 {
    background-color: #00243f;
    border: 1px solid #00243f;
    color: #b0cac7;
  }


  .pj-2, .pj-3, .pj-6, .pj-7, .pj-10 {
    background-color: #b0cac7;
    border: 1px solid #b0cac7;
    color: #00243f;
  }

  /* .project:nth-child(odd) {
    margin-right: 10%;
  }

  .project:nth-child(even) {
    margin-left: 10%;
  } */


  .project {
    display: grid;
    grid-template-rows: 3em auto 3em;
    border-radius: 10px;
    padding: 2% 2%;
    /* margin-top: 15%; */
    height: 9em;  
  }

  .project-head {
    display: grid;
  }



  .project-header {
    display: grid;
  }

  .project-heading {
    font-size: 1em;
    align-self: center;
  }

  .project-description-section {
    height: 2.6em;
    overflow-y: hidden;
  }

  .project-description {
    font-size: 0.8em;
    line-height: 1.4em;
    padding: 2% 0 1.2em 0;
  }

  .button-container {
    display: grid;
  }

  .read-more {
    width: 8em;
    height: 2.8em;
    font-size: 0.6em;
    font-weight: 900;
    background-color: #dca780;
    color: #00243f;
    border: 1px solid #dca780;
    border-radius: 2px;
    letter-spacing: 1px;
    align-self: center;
  }

  .read-more:hover {
    cursor: pointer;
  }





































  /* GALLERY SECTION */





  .section-heading {
    font-size: 3em;
    color: #2C3539;
    justify-self: center;
    align-self: center;
  }


  .gallery-description {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1em;
  }














  /* GALLERY MODAL */

.modal-container {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1.00);
  display: grid;
  display: none;
}


.modal-wrapper {
  /* width: 90vw;
  height: 90vh; */

  width: 100%;
  height: 100vh;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
  display: grid;
}


img {
  width: auto;
  height: 100%;
  border-radius: 2px;
  justify-self: center;
  align-self: center;
}







.btn {
  color: #fff;
  font-size: 20px;
}


.image-description {
  font-size: 13px;
  color: #fff;
}


.fa-ellipsis-v, .fa-times-circle, .fa-chevron-left, .fa-chevron-right:hover {
  cursor: pointer;
}



.fa-ellipsis-v {
  position: absolute;
  top: 20px;
  left: 20px;
}

.fa-times-circle {
  position: absolute;
  top: 20px;
  right: 20px;
}



.fa-chevron-left {
  position: absolute;
  top: 50%;
  left: 20px;
}



.fa-chevron-right {
  position: absolute;
  top: 50%;
  right: 20px;
}


.caption-view {
  position: absolute;
  bottom: 22%;
  left: 10%;
  right: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 80%;
  border-radius: 2px;
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
}









/* GALLERY */








.wrap-3 {
  /* width: 100vw; */
  display: grid;
  grid-template-rows: 150px auto auto;
  margin: 0 2%;
}


.grid-header {
  display: grid;
}



i.fa-caret-down, i.fa-caret-right {
  font-size: 0.9em;
}

i.fa-caret-down {
  display: none;
}





.album-viewport {
  display: grid;
  grid-template-columns: repeat(4, auto);
}


.album-holder {
  display: grid;
  grid-template-columns: 5% 95%;
  margin: 5% 0;
}


.album-holder:hover {
  cursor: pointer;
}




.symbols {
  justify-self: center;
  align-self: center;
}


.gallery-header {
  display: grid;
}



.album-gallery {
  display: none;
}



.album-name {
  font-size: 0.9em;
  font-weight: 900;
  justify-self: left;
  align-self: center;
}


.col {
  justify-self: center;
  /* background-color: darkgrey; */
  /* border: 1px solid red; */
  display: grid;
  width: 260px;
  height: 140px;
  margin: 2% 2%;
  overflow-y: hidden;
  border-radius: 2px;
}


.col:hover {
  cursor: pointer;
}









.img-1, .img-2 , .img-3, .img-4 {

  width: 100%;
  height: auto;
  justify-self: center;
  align-self: center;

}











  












  /* ABOUT SECTION */


  .wrap-4 {
    display: grid;
    grid-template-rows: 150px auto;
  }



  .founders-section {
    display: grid;
    grid-template-rows: 50px auto;
  }

  .founders-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 2%;
    margin-bottom: 8%;
  }
  

  



  .founder-info {
    display: grid;
    grid-template-rows: 200px 45px auto 50px;
    border-radius: 10px;
    padding: 2% 2%;
    margin-bottom: 10%;
    background-color: #dca780;
    border: 1px solid #dca780;
    color: #00243f;
    height: 21em;
  }

/* 
  .founder-1 {
    margin-right: 5%;
  }

  .founder-2 {
    margin-left: 5%;
  } */



  .founder-img {
    display: grid;
  }


  .f-1-img, .f-2-img {
    width: 200px;
    height: auto;
    justify-self: center;
  }

  .founder-name-section {
    display: grid;
  }

  .founder-name {
    font-size: 1em;
    font-weight: bold;
    align-self: center;
    justify-self: center;
  }


  .founder-description-section {
    height: 3em;
    overflow-y: hidden
  }

  .founder-description {
    font-size: 0.8em;
    line-height: 2em;
    padding: 2% 0 2% 0;
    height: 3em;
    overflow-y: hidden;
    justify-self: center;
  }

  .read-more-about {
    width: 8em;
    height: 2.8em;
    font-size: 0.6em;
    font-weight: 900;
    background-color: #00243f;
    border: 1px solid #00243f;
    color: #dca780;
    border-radius: 2px;
    letter-spacing: 1px;
    align-self: center;
  }

  .read-more-about:hover {
    cursor: pointer;
  }













/* ABOUT MINISTRY */

.ministry-info-section {
  display: grid;
  grid-template-rows: 50px auto;
}


.ministry-description {
  display: grid;
}

.query {
  font-size: 0.9em;
  font-weight: 600;
  color: #34414e;
}


.answer{
  font-size: 0.9em;
  line-height: 1.5em;
  margin-bottom: 4%;
  color: #34414e;
}











  /* ABOUT PAKISTAN */



  .country-info-section {
    display: grid;
    grid-template-rows: 50px auto auto;
  }


  .country-description {
    font-size: 0.9em;
    line-height: 1.5em;
    color: #34414e;
  }

  .pk-flag {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .country-para {
    margin: 5% 0;
  }



  /* CONTACT SECTION */



  .wrap-5 {
    display: grid;
    grid-template-rows: 150px 120px auto;
    border-bottom: none;
  }


  .founder-title, .ministry-title, .country-title {
    color: #34414e;
    font-size: 1em;
    align-self: end;
    margin-bottom: 1em;
  }

  .contact-description, .for-email {
    font-size: 1em;
    color: #34414e;
  }


  .email-container {
    padding-top: 0.5em;
  }

  .for-email {
    font-weight: 900;
  }


  .social-links-section {
    display: grid;
    grid-template-rows: 50px 50px;
  }


  .social-links-heading {
    font-size: 1em;
    color: #34414e;
    font-weight: 700;
    align-self: center;
  }

  .fab {
    justify-self: center;
    align-self: center;
    font-size: 1.5em;
    color: #003152;
  }



  .social-links {
    display: grid;
    grid-template-columns: repeat(3, 50px);
  }

  .social-links li {
    list-style: none;
  }


 
















  /* FOOTER SECTION */




  .site-footer {
    background-color: #2C3539;
    padding: 1em 0;
    display: grid;
  }

  .footer-description {
    font-size: 0.8em;
    color: lightgray;
    justify-self: center;
    align-self: center;
  }
  








  .wrap-2, .wrap-3 , .wrap-4, .wrap-5 {
    margin: 0 10%;
    border-bottom: 1px solid #636c77;
    padding-bottom: 5%;
  }


  .wrap-2 {
    padding-bottom: 20%;
  }


  .wrap-5 {
    border-bottom: none;
    padding-bottom: 25%;
  }



}


@media only screen and (max-width: 1024px) and (max-height: 1366px) {

  
  .wrap-1 {
    height: 100vh;
    max-width: 100%;
    background-image: url("images/praise-bg.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 15% 85%;
  }

}


@media only screen and (max-width: 768px) and (max-height: 1024px) {

  
  .wrap-1 {
    height: 100vh;
    max-width: 100%;
    background-image: url("images/praise-bg.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 15% 85%;
  }

}


@media only screen and (max-width: 768px) and (min-width: 425px) {

  
  .wrapper {
    display: grid;
    grid-template-rows: repeat(5, auto);
  }

  .wrap-1 {
    height: 100vh;
    max-width: 100%;
    background-image: url("images/praise-bg.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 15% 85%;
  }

  .main-header, .verse-wrap{
    padding: 0 7%;
  }

  .main-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .site-logo {
    display: grid;
  }

  

  .site-icon {
    width: 12em;
    height: auto;
    justify-self: left;
    align-self: center;
  }

  .menu-bar {
    display: none;
  }

  .fa-bars {
    color: #fff;
    font-size: 1.2em;
    justify-self: right;
    align-self: center;
  }
  



  .main-nav {
    color: #fff;
    display: grid;
  }

  .nav-list {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }


  .nav-item {
    list-style: none;
    justify-self: center;
    font-weight: 900;
  }


  a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
  }



  .close-btn {
    display: none;
    font-size: 2em;
    justify-self: right;
    align-self: start;
    padding: 5% 8% 0 0;
  }








  .verse-wrap {
    color: #fdd000;
    display: grid;
    grid-template-columns: 35% auto 35%;
    background-color: rgba(1,1,1, 0.1);
  }

  .main-verse {
    align-self: center;
    justify-self: center;
    font-size: 2em;
    font-weight: 900;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 0.8em;
    font-family: "Poppins";
  }

  .quote {
    font-size: 1em;
  }


  .verse-ref {
    font-weight: 900;
    font-size: 0.7em;
    justify-self: right;
  }
  







  .section-header {
    display: grid;
  }


  .section-heading {
    font-size: 3em;
    color: #2C3539;
    justify-self: center;
    align-self: center;
  }










  .wrap-2{
    display: grid;
    grid-template-rows: 150px auto auto;
  }



  .work-projects {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); 
     grid-column-gap: 2%; */
    grid-row-gap: 5%;
  }


  .work-description {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1em;
  }


  .pj-1, .pj-4, .pj-5, .pj-8, .pj-9 {
    background-color: #00243f;
    border: 1px solid #00243f;
    color: #b0cac7;
  }


  .pj-2, .pj-3, .pj-6, .pj-7, .pj-10 {
    background-color: #b0cac7;
    border: 1px solid #b0cac7;
    color: #00243f;
  }
/* 
  .project:nth-child(odd) {
    margin-right: 10%;
  }

  .project:nth-child(even) {
    margin-left: 10%;
  } */


  .project {
    display: grid;
    grid-template-rows: 3em auto 3em;
    border-radius: 10px;
    padding: 2% 2%;
    /* margin-top: 15%; */
    height: 9em;   
  }

  .project-head {
    display: grid;
  }



  .project-header {
    display: grid;
  }

  .project-heading {
    font-size: 1em;
    align-self: center;
  }

  .project-description-section {
    height: 2.8em;
    overflow-y: hidden;
  }

  .project-description {
    font-size: 0.8em;
    line-height: 1.4em;
    padding: 2% 0 1.2em 0;
  }

  .button-container {
    display: grid;
  }

  .read-more {
    width: 8em;
    height: 2.8em;
    font-size: 0.6em;
    font-weight: 900;
    background-color: #dca780;
    color: #00243f;
    border: 1px solid #dca780;
    border-radius: 2px;
    letter-spacing: 1px;
    align-self: center;
  }

  .read-more:hover {
    cursor: pointer;
  }





































  /* GALLERY SECTION */





  .section-heading {
    font-size: 3em;
    color: #2C3539;
    justify-self: center;
    align-self: center;
  }


  .gallery-description {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1em;
  }














  /* GALLERY MODAL */

.modal-container {
  max-width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1.00);
  display: grid;
  display: none;
}


.modal-wrapper {
  /* width: 90vw;
  height: 90vh; */

  width: 100vw;
  height: 100vh;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
  display: grid;
}


img {
  width: 100%;
  height: auto;
  border-radius: 2px;
  justify-self: center;
  align-self: center;
}







.btn {
  color: #fff;
  font-size: 20px;
}


.image-description {
  font-size: 13px;
  color: #fff;
}


.fa-ellipsis-v, .fa-times-circle, .fa-chevron-left, .fa-chevron-right:hover {
  cursor: pointer;
}



.fa-ellipsis-v {
  position: absolute;
  top: 20px;
  left: 20px;
}

.fa-times-circle {
  position: absolute;
  top: 20px;
  right: 20px;
}



.fa-chevron-left {
  position: absolute;
  top: 50%;
  left: 20px;
}



.fa-chevron-right {
  position: absolute;
  top: 50%;
  right: 20px;
}


.caption-view {
  position: absolute;
  bottom: 22%;
  left: 10%;
  right: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 80%;
  border-radius: 2px;
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
}









/* GALLERY */








.wrap-3 {
  /* width: 100vw; */
  display: grid;
  grid-template-rows: 150px auto auto;
  margin: 0 2%;
}


.grid-header {
  display: grid;
}



i.fa-caret-down, i.fa-caret-right {
  font-size: 0.9em;
}

i.fa-caret-down {
  display: none;
}





.album-viewport {
  display: grid;
  grid-template-columns: repeat(4, auto);
}


.album-holder {
  display: grid;
  grid-template-columns: 5% 95%;
  margin: 5% 0;
}


.album-holder:hover {
  cursor: pointer;
}




.symbols {
  justify-self: center;
  align-self: center;
}


.gallery-header {
  display: grid;
}



.album-gallery {
  display: none;
}



.album-name {
  font-size: 0.9em;
  font-weight: 900;
  justify-self: left;
  align-self: center;
}


.col {
  justify-self: center;
  /* background-color: darkgrey; */
  /* border: 1px solid red; */
  display: grid;
  width: 260px;
  height: 140px;
  margin: 2% 2%;
  overflow-y: hidden;
  border-radius: 2px;
}


.col:hover {
  cursor: pointer;
}









.img-1, .img-2 , .img-3, .img-4 {

  width: 100%;
  height: auto;
  justify-self: center;
  align-self: center;

}











  












  /* ABOUT SECTION */


  .wrap-4 {
    display: grid;
    grid-template-rows: 150px auto;
  }



  .founders-section {
    display: grid;
    grid-template-rows: 50px auto;
  }

  .founders-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 2%;
    margin-bottom: 8%;
  }
  

  



  .founder-info {
    display: grid;
    grid-template-rows: 200px 45px auto 50px;
    border-radius: 10px;
    padding: 2% 2%;
    margin-bottom: 10%;
    background-color: #dca780;
    border: 1px solid #dca780;
    color: #00243f;
    height: 23em;
  }


  .founder-1 {
    margin-right: 5%;
  }

  .founder-2 {
    margin-left: 5%;
  }



  .founder-img {
    display: grid;
  }


  .f-1-img, .f-2-img {
    width: 200px;
    height: auto;
    justify-self: center;
  }

  .founder-name-section {
    display: grid;
  }

  .founder-name {
    font-size: 1em;
    font-weight: bold;
    align-self: center;
    justify-self: center;
  }


  .founder-description-section {
    height: 4em;
    overflow-y: hidden;
  }

  .founder-description {
    font-size: 0.8em;
    line-height: 1.3em;
    padding: 2% 0 2% 0;
    height: 2.8em;
    overflow-y: hidden;
    justify-self: center;
  }

  .read-more-about {
    width: 8em;
    height: 2.8em;
    font-size: 0.6em;
    font-weight: 900;
    background-color: #00243f;
    border: 1px solid #00243f;
    color: #dca780;
    border-radius: 2px;
    letter-spacing: 1px;
    align-self: center;
  }

  .read-more-about:hover {
    cursor: pointer;
  }













/* ABOUT MINISTRY */

.ministry-info-section {
  display: grid;
  grid-template-rows: 50px auto;
}


.ministry-description {
  display: grid;
}

.query {
  font-size: 0.9em;
  font-weight: 600;
  color: #34414e;
}


.answer{
  font-size: 0.9em;
  line-height: 1.5em;
  margin-bottom: 4%;
  color: #34414e;
}











  /* ABOUT PAKISTAN */



  .country-info-section {
    display: grid;
    grid-template-rows: 50px auto auto;
  }


  .country-description {
    font-size: 0.9em;
    line-height: 1.5em;
    color: #34414e;
  }

  .pk-flag {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .country-para {
    margin: 5% 0;
  }



  /* CONTACT SECTION */



  .wrap-5 {
    display: grid;
    grid-template-rows: 150px 120px auto;
    border-bottom: none;
  }


  .founder-title, .ministry-title, .country-title {
    color: #34414e;
    font-size: 1em;
    align-self: end;
    margin-bottom: 1em;
  }

  .contact-description, .for-email {
    font-size: 1em;
    color: #34414e;
  }


  .email-container {
    padding-top: 0.5em;
  }

  .for-email {
    font-weight: 900;
  }


  .social-links-section {
    display: grid;
    grid-template-rows: 50px 50px;
  }


  .social-links-heading {
    font-size: 1em;
    color: #34414e;
    font-weight: 700;
    align-self: center;
  }

  .fab {
    justify-self: center;
    align-self: center;
    font-size: 1.5em;
    color: #003152;
  }



  .social-links {
    display: grid;
    grid-template-columns: repeat(3, 50px);
  }

  .social-links li {
    list-style: none;
  }


 
















  /* FOOTER SECTION */




  .site-footer {
    background-color: #2C3539;
    padding: 1em 0;
    display: grid;
  }

  .footer-description {
    font-size: 0.8em;
    color: lightgray;
    justify-self: center;
    align-self: center;
  }
  








  .wrap-2, .wrap-3 , .wrap-4, .wrap-5 {
    margin: 0 10%;
    border-bottom: 1px solid #636c77;
    padding-bottom: 5%;
  }


  .wrap-5 {
    border-bottom: none;
    padding-bottom: 25%;
  }



}











@media only screen and (max-width:  425px) {

  
  .wrapper {
    display: grid;
    grid-template-rows: repeat(5, auto);
  }

  .wrap-2, .wrap-3 , .wrap-4, .wrap-5 {
    margin: 0 5%;
    border-bottom: 1px solid #636c77;
    padding-bottom: 15%;
  }

  .wrap-1 {
    width: 100vw;
    height: 100vh;
    background-image: url("images/praise-bg.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 5em 1fr;
  }

  .main-header, .verse-wrap{
    padding: 0 7%;
  }

  .main-header {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .site-logo {
    display: grid;
  }


  .site-icon {
    width: 12em;
    height: auto;
    justify-self: left;
    align-self: center;
  }

  .menu-bar {
    display: grid;
  }

  .fa-bars {
    color: #fff;
    font-size: 1.2em;
    justify-self: right;
    align-self: center;
  }
  



  .main-nav {
    display: none;
    height: 100vh;
    background-color: rgba(00, 31, 52, 0.900);
    color: #fff;
    position: fixed;
    right: 0;
    overflow-x: hidden;
    width: 100vw;
    z-index: 4;
  }

  .nav-list {
    height: 100vh;
    display: grid;
  }


  .nav-item {
    font-size: 3em;
    list-style: none;
    justify-self: center;
  }


  a {
    text-decoration: none;
    color: #fff;
    font-size: 0.5em;
  }

  

  .close-btn {
    font-size: 2em;
    justify-self: right;
    align-self: start;
    padding: 5% 8% 0 0;
  }








  .verse-wrap {
    display: grid;
    color: #fdd000;
    grid-template-columns: 13% auto 13%;
    background-color: rgba(1,1,1, 0.5);
  }

  .main-verse {
    font-family: "Poppins";
    align-self: start;
    font-size: 1.5em;
    font-weight: 900;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
    display: grid;
  }

  .quote {
    font-size: 1em;
    font-weight: 900;
  }


  .verse-ref {
    font-weight: 900;
    font-size: 0.8em;
    justify-self: right;
  }
  












  .section-header {
    display: grid;
  }


  .section-heading {
    font-size: 2em;
    color: #2C3539;
    justify-self: center;
    align-self: end;
    margin-bottom: 10%;
  }
  


  .work-description, .contact-description {
    font-size: 0.9em;
    line-height: 20px;
    color: #34414e;
    margin-bottom: 1em;
  }





 











  /* WORK  SECTION */


  .wrap-2{
    display: grid;
    grid-template-rows: 150px auto auto;
  }


  /* .work-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
     grid-column-gap: 2%;
    grid-row-gap: 5%;
  } */



  .project:nth-child(odd) {
    background-color: #00243f;
    border: 1px solid #00243f;
    color: #b0cac7;
  }

  .project:nth-child(even) {
    background-color: #b0cac7;
    border: 1px solid #b0cac7;
    color: #00243f;
  }
 



  .project {
    display: grid;
    grid-template-rows: 3em auto 3em;
    border-radius: 10px;
    padding: 5% 2%;
    /* margin-bottom: 10%; */
    background-color: #6699cc;
    color: #fff; 
    height: 9em;
    margin: 3em 0;   
  }



  .project-header {
    display: grid;
  }

  .project-heading {
    font-size: 1.2em;
    font-size: 900;
    align-self: center;
  }

  .project-description-section {
    height: 2.8em;
    overflow-y: hidden;
  }

  .project-description {
    font-size: 13px;
    line-height: 20px;
    padding: 2% 0 2% 0;
    /* height: 55px; */
  }

  .button-container {
    display: grid;
  }

  .read-more {
    width: 80px;
    height: 30px;
    font-size: 10px;
    font-weight: 900;
    background-color: #dca780;
    color: #00243f;
    border: 1px solid #dca780;
    border-radius: 2px;
    letter-spacing: 1px;
    align-self: center;
  }

  .read-more:hover {
    cursor: pointer;
  }

























/* GALLERY SECTION */




.section-heading {
  font-size: 2em;
  color: #2C3539;
  justify-self: center;
  align-self: end;
  margin-bottom: 10%;
}






.gallery-description{
  font-size: 0.9em;
  line-height: 20px;
  color: #34414e;
  margin-bottom: 1em;
}














/* GALLERY MODAL */

.modal-container {
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.9);
display: grid;
display: none;
}


.modal-wrapper {
/* width: 90vw;
height: 90vh; */
width: 100vw;
height: 100vh;
border-radius: 5px;
align-self: center;
justify-self: center;
display: grid;
}


img {
width: 98%;
height: auto;
border-radius: 2px;
justify-self: center;
align-self: center;
}









.btn {
color: #fff;
font-size: 20px;
}


.image-description {
font-size: 13px;
color: #fff;
}


.fa-ellipsis-v, .fa-times-circle, .fa-chevron-left, .fa-chevron-right:hover {
cursor: pointer;
}



.fa-ellipsis-v {
position: absolute;
top: 20px;
left: 20px;
}

.fa-times-circle {
position: absolute;
top: 20px;
right: 20px;
}



.fa-chevron-left {
position: absolute;
top: 50%;
left: 20px;
}



.fa-chevron-right {
position: absolute;
top: 50%;
right: 20px;
}


.caption-view {
position: absolute;
bottom: 22%;
left: 10%;
right: 10%;
background-color: rgba(0, 0, 0, 0.5);
color: #fff;
width: 80%;
border-radius: 2px;
text-align: center;
padding: 10px 0;
font-size: 12px;
}









/* GALLERY */








.wrap-3 {
/* width: 100vw; */
display: grid;
grid-template-rows: 150px auto auto;
margin: 0 2%;
}




.grid-header {
display: grid;
}

i.fa-caret-down, i.fa-caret-right {
font-size: 0.9em;
}


i.fa-caret-down {
display: none;
}




.album-viewport {
display: grid;
grid-template-columns: repeat(1, 1fr);
}


.album-holder {
display: grid;
grid-template-columns: 5% 95%;
margin: 10% 0;
}


.album-holder:hover {
cursor: pointer;
}





.symbols {
justify-self: center;
align-self: center;
}


.gallery-header {
display: grid;
}






.album-name {
font-size: 0.7em;
font-weight: bold;
justify-self: left;
align-self: center;
}





.album-gallery {
display: none;
}


.col {
justify-self: center;
/* background-color: darkgrey; */
/* border: 1px solid red; */
display: grid;
width: 260px;
height: 140px;
margin: 1% 0;
overflow-y: hidden;
border-radius: 2px;
}


.col:hover {
cursor: pointer;
}









.img-1, .img-2 , .img-3, .img-4 {

width: 100%;
height: auto;
justify-self: center;
align-self: center;

}





































  /* ABOUT SECTION */


  .wrap-4 {
    display: grid;
    grid-template-rows: 150px auto auto auto;
  }



  .founders-section {
    display: grid;
    grid-template-rows: 50px auto;
  }



  .founder-info {
    display: grid;
    grid-template-rows: 100px 50px auto 50px;
    border-radius: 10px;
    padding: 5% 2%;
    margin-bottom: 10%;
    background-color: #dca780;
    border: 1px solid #dca780;
    color: #00243f;
    height: 16em;
  }

  .founder-img {
    display: grid;
  }


  .f-1-img, .f-2-img {
    width: 100px;
    height: auto;
    justify-self: center;
  }

  .founder-name-section {
    display: grid;
  }

  .founder-name {
    font-size: 1em;
    font-size: 900;
    font-weight: bold;
    align-self: center;
    justify-self: center;
  }


  .founder-description-section {
    height: 4em;
    overflow-y: hidden
  }

  .founder-description {
    font-size: 13px;
    line-height: 20px;
    padding: 2% 0 2% 0;
    /* height: 55px; */
    overflow-y: hidden;
    justify-self: center;
  }

  .read-more-about {
    width: 85px;
    height: 30px;
    font-size: 10px;
    font-weight: 900;
    background-color: #00243f;
    color: #dca780;
    border: 1px solid #00243f;
    border-radius: 2px;
    letter-spacing: 1px;
    align-self: center;
  }


  .read-more:hover {
    cursor: pointer;
  }


/* ABOUT MINISTRY */

.ministry-info-section {
  display: grid;
  grid-template-rows: 50px auto;
}


.ministry-description {
  display: grid;
}

.query {
  font-size: 0.9em;
  font-weight: 600;
  margin-bottom: 2%;
  color: #34414e;
}


.answer{
  font-size: 0.8em;
  line-height: 20px;
  margin-bottom: 5%;
  color: #34414e;
}











  /* ABOUT PAKISTAN */



  .country-info-section {
    display: grid;
    grid-template-rows: 50px auto auto;
  }


  .country-description {
    font-size: 0.8em;
    line-height: 20px;
    color: #34414e;
  }

  .pk-flag {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .country-para {
    margin: 5% 0;
  }



  /* CONTACT SECTION */



  .wrap-5 {
    display: grid;
    grid-template-rows: 150px 120px auto;
    border-bottom: none;
    padding-bottom: 50%;
  }


  .founder-title, .ministry-title, .country-title {
    color: #34414e;
    font-size: 1em;
    align-self: end;
    margin-bottom: 1em;
  }


  .email-container {
    padding-top: 0.5em;
  }

  .for-email {
    font-size: 0.9em;
    color: #34414e;
    font-weight: 900;
  }


  .social-links-section {
    display: grid;
    grid-template-rows: 50px 50px;
  }


  .social-links-heading {
    font-size: 0.9em;
    color: #34414e;
    font-weight: 700;
    align-self: center;
  }

  .fab {
    justify-self: center;
    align-self: center;
    font-size: 1.5em;
    color: #003152;
  }



  .social-links {
    display: grid;
    grid-template-columns: repeat(3, 50px);
  }

  .social-links li {
    list-style: none;
  }


 
















  /* FOOTER SECTION */




  .site-footer {
    background-color: #2C3539;
    padding: 1em 0;
    display: grid;
  }

  .footer-description {
    font-size: 0.6em;
    color: lightgray;
    justify-self: center;
    align-self: center;
  }
  




}

.specs-list {
  /* margin-top: 3em; */
  font-size: 0.7em;
  line-height: 2em;
  padding-left: 1.5em;
}

.specs-list li {
  margin: 5px 0;
}

